extends layout-index

block content
    .container-fluid
        .row
            .col-12.mt-5
                p.h2.text-center.text-info 
                    u Forgot Password
                .col-4.offset-4
                    form#forgetUserName
                        table.table.table-borderless
                            tbody
                                tr
                                    td(colspan="2") 
                                        input#user.form-control.numaric(value="" data-limiter="8" placeholder="User Id" name="forgetUserName")
                                tr
                                    td(colspan="2")
                                        input#addhar.form-control.numaric(value="" data-limiter="12" placeholder="Aadhaar Number" name="forAadharNumber")
                                //- tr#otpMobile
                                //- tr#otpEmail
                                //- tr#otp
                                tr#password
                                tr
                                    td
                                        button#verifyUserDetails.form-control.btn.btn-outline-success Get Password
                                    td
                                        a(href="/").form-control.btn.btn-outline-primary Go To Home
                                tr
                                    td.text-center(colspan="2")
                                        span#showPass.text-danger.font-weight-bolder.h5
    script(src="/assets/js/password1.js")
