div.nav-bar
    div.nav-bar-items
        a#homeLink(href="/home" aria-current="true") Home
        a#newRegLink(href="/new-registration" aria-current="true") New Registration
        a#loginLink(href="/login") Already Registered Candidate's Login
