
div.container-primary.mt-5 
    div.progressBar   

        div.leftButton
            i.fa.fa-arrow-left
        div.middle 
            //- a(href="/new-registration" aria-current="true") New Registration
            a.active-step(href="#") 1
            a.active-step(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5 
            a(href="#") 6
            a(href="#") 7
            a(href="#") 8
            a(href="#") 9 

            //- a(href="/login") Already Registered Candidate's Login
            //- a(href="/new-registration" aria-current="true") New Registration
            //- a(href="#") User Eligibility
            //- a(href="#") User Profile
            //- a(href="#") Education Details
            //- a(href="#") Experience Details
            //- a(href="#") Achievements Details
            //- a(href="#") Document Uploading
            //- a(href="#") Application Preview
            //- a(href="#") Payment
            //- a(href="#") Application Form
            //- a(href="/login") Already Registered Candidate's Login
        div.rightButton 
            i.fa.fa-arrow-right
